<!-- Page Banner -->
<div class="page-banner-area item-bg4">
    <div class="container">
        <div class="page-banner-content">
            <h2>Contactez-Nous</h2>
            <ul>
                <li><a routerLink="/">Accueil</a></li>
                <li>Contactez-Nous</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Contact Info Area -->
<section class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="flaticon-email-1"></i>
                    </div>
                    <h3>Email</h3>
                    <p><a href="mailto:hello&#64;rainz.com">hello&#64;rainz.com</a></p>
                    <p><a href="mailto:support&#64;rainz.com">support&#64;rainz.com</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="flaticon-pin"></i>
                    </div>
                    <h3>Location</h3>
                    <p><a href="https://www.google.com/maps/place/Clinique+de+Chirurgie+de+Chicoutimi/@48.42109,-71.040123,15z/data=!4m6!3m5!1s0x4cc020b911105f55:0xa9ca53a10568df6f!8m2!3d48.42109!4d-71.040123!16s%2Fg%2F11fxdt_pdy?entry=ttu" target="_blank">930 Rue Jacques-Cartier E, Chicoutimi, QC G7H 7K9, Canada</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="flaticon-call"></i>
                    </div>
                    <h3>Appel</h3>
                    <p><a href="tel:14234567890">+1 423 456 7890</a></p>
                    <p><a href="tel:14414524526">+1 441 452 4526</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Info -->

<!-- Contact -->
<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span>Entrer en contact</span>
            <h2>Prêt à commencer?</h2>
            <div class="bar"></div>
        </div>

        <div class="contact-form">
            <form id="contactForm">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>Prénom*</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>Nom*</label>
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>Email*</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group mb-3">
                            <label>TéléPhone*</label>
                            <input type="text" name="phone_number" id="phone_number" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-3">
                            <label>Object*</label>
                            <input type="text" name="msg_subject" id="msg_subject" class="form-control">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-3">
                            <label>Message*</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="6"></textarea>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <button type="submit" class="default-btn">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Contact -->

