<!-- Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>NEURONET</h2>
            <h4 class="white-text">"Protégeons la vie privée, floutons les regards"</h4>
            <ul>
                <li>Accueil</li>
                <li>Neuronet</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Team -->

<section class="team-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <span>Equipe</span>
            <h2>Notre équipe experte</h2>
            <div class="bar"></div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="image">
                        <img src="assets/img/team/team-1.jpg" alt="image">
                    
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>

                        <div class="content">
                            <h3>Morgan Chappe</h3>
                            <span>Project Manager</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="image">
                        <img src="assets/img/team/team-2.jpg" alt="image">
                    
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>

                        <div class="content">
                            <h3>Gildas A. S. Fofe</h3>
                            <span>Web Developer</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="single-team">
                    <div class="image">
                        <img src="assets/img/team/team-8.jpg" alt="image">
                    
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        </ul>
                        <div class="content">
                            <h3>Ibrahima Sory DIOP</h3>
                            <span>designer</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Team -->