<!-- Footer -->
<div class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="image"></a>
                    </div>
                    <p>Notre entreprise offre un service de floutage automatique pour les journalistes, préservant l'anonymat des individus dans les médias tout en respectant les normes éthiques.</p>
                    <ul class="social">
                        <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="pinterest" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                        <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-instagram-alt'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Liens Importants</h3>

                    <ul class="quick-links">
                        <li><a routerLink="/team-1">À Propos</a></li>
                      
                        <li><a routerLink="/services-1">Services</a></li>
                       
                        <li><a routerLink="/contact-1">Contact</a></li>
                       
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Services en vedette</h3>

                    <ul class="quick-links">
                        <li><a routerLin="/">Floutage Automatique pour Médias</a></li>
                        <li><a routerLin="/">Analyse de Risques Cybernétiques pour Journalistes</a></li>
                        <li><a routerLin="/">Formation à la Sensibilisation à la Sécurité pour Médias</a></li>
                        <li><a routerLin="/">Consultation en Sécurité des Données pour Organisations Médiatiques</a></li>
                        <li><a routerLin="/">Développement de Politiques de Protection de la Vie Privée pour Médias</a></li>
                       
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Information</h3>

                    <ul class="footer-contact-info">
                        <li>
                            <i class="flaticon-call"></i>
                            <span>Phone</span>
                            <a href="tel:882569756">+1 882-569-3756</a>
                        </li>
                        <li>
                            <i class="flaticon-email-1"></i>
                            <span>Email</span>
                            <a href="mailto:hello&#64;rainz.com">hello&#64;rainz.com</a>
                        </li>
                        <li>
                            <i class="flaticon-pin"></i>
                            <span>Address</span>
                            <a href="https://www.google.com/maps/@51.5287718,-0.2416804,11z" target="_blank">930 RUE Jaque cartier, Chicutimi, QC.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>© Neuronet 2024, tous droits reservés <a href="https://neuronet.com/" target="_blank">Neuronet</a></p>
                </div>

                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li>Terms of Service</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Copyright -->

<!-- Go Top -->
<div class="go-top">
    <i class='bx bx-chevron-up'></i>
</div>
<!-- End Go Top -->