<!-- Page Banner -->
<div class="page-banner-area">
    <div class="container">
        <div class="page-banner-content">
            <h2>Services</h2>
            <ul>
                <li>Accueil</li>
                <li>Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Banner -->

<!-- Services -->
<section class="services-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-1.png" alt="image">
                        </a>
                    </div>
                    <h3><a routerLink="/services-details">Floutage Automatique d'Images et de Vidéos</a></h3>
                    <p>Nous utilisons des algorithmes avancés pour flouter automatiquement les visages et les objets dans les images et les vidéos, préservant ainsi la confidentialité des individus.</p>
              <!--<a routerLink="/services-details" class="services-btn">Read More <i class="flaticon-right-arrow"></i></a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-2.png" alt="image">
                        </a>
                    </div>
                    <h3><a routerLink="/services-details">Floutage en Temps Réel </a></h3>
                    <p>Nous proposons un service de floutage en temps réel des vidéos, idéal pour les diffusions en direct, les événements en direct et les interviews sur le terrain.</p>
                  <!--  <a routerLink="/services-details" class="services-btn">Read More <i class="flaticon-right-arrow"></i></a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-3.png" alt="image">
                        </a>
                    </div>
                    <h3><a routerLink="/services-details">Analyse d'Images et de Vidéos</a></h3>
                    <p>Nous offrons des services d'analyse pour détecter automatiquement les zones sensibles dans les médias, fournissant des informations utiles pour les journalistes et les chercheurs.</p>
                  <!--  <a routerLink="/services-details" class="services-btn">Read More <i class="flaticon-right-arrow"></i></a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-4.png" alt="image">
                        </a>
                    </div>
                    <h3><a routerLink="/services-details">Personnalisation et Configuration</a></h3>
                    <p>Nous offrons des options de personnalisation flexibles pour répondre aux besoins spécifiques de chaque projet. Nos clients peuvent ajuster le niveau de floutage, la taille des zones floutées et d'autres paramètres selon leurs préférences.</p>
                    <a routerLink="/services-details" class="services-btn">Read More <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-5.png" alt="image">
                        </a>
                    </div>
                    <h3><a routerLink="/services-details">Support Client </a></h3>
                    <p>Nous offrons un support client réactif et professionnel pour répondre aux questions, résoudre les problèmes et assurer la satisfaction de nos clients.</p>
                 <!--     <a routerLink="/services-details" class="services-btn">Read More <i class="flaticon-right-arrow"></i></a>-->
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-services">
                    <div class="image">
                        <a routerLink="/services-details">
                            <img src="assets/img/services/services-6.png" alt="image">
                        </a>
                    </div>
                    <h3><a routerLink="/services-details">Consultation et Formation</a></h3>
                    <p>Notre équipe d'experts en sécurité et en protection de la vie privée propose des services de consultation et de formation pour aider nos clients à comprendre les meilleures pratiques en matière de floutage et à intégrer nos solutions de manière efficace.</p>
                 <!--     <a routerLink="/services-details" class="services-btn">Read More <i class="flaticon-right-arrow"></i></a>-->
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape1"><img src="assets/img/default-shape/default-shape1.png" alt="image"></div>
        <div class="shape2"><img src="assets/img/default-shape/default-shape2.png" alt="image"></div>
        <div class="shape3"><img src="assets/img/default-shape/default-shape3.png" alt="image"></div>
        <div class="shape4"><img src="assets/img/default-shape/default-shape4.png" alt="image"></div>
    </div>
</section>
<!-- End Services -->

