<!-- Main Banner -->
<div class="home-wrapper-area">
    <div class="home-slides owl-carousel owl-theme">
        <div class="main-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="main-slider-content">
                                    <h2>Confidentialité dans le Reportage Médiatique</h2>
                                    <p>Les journalistes sont souvent confrontés à la difficulté de protéger la vie privée des individus lors de la couverture d'événements en direct. La diffusion d'images de personnes non-consentantes peut soulever des questions éthiques et juridiques.
                                        Les réglementations sur la protection des données personnelles, comme le RGPD en Europe, imposent des restrictions strictes sur l'utilisation des images de personnes sans leur consentement.</p>
                                    <div class="slider-btn">
                                        <a routerLink="/" class="default-btn">obtenir nos Services</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="main-slider-image"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="main-slider-content">
                                    <h2>Défis techniques actuels</h2>
                                    <p>Les méthodes de floutage manuelles sont chronophages et sujettes à l'erreur humaine.
                                        La technologie existante ne permet pas toujours de flouter efficacement en temps réel, ce qui pose problème dans des situations de reportage en direct.</p>
                                    <div class="slider-btn">
                                        <a routerLink="/" class="default-btn">obtenir nos Services</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="main-slider-image two"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-slider-item">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="main-slider-content">
                                    <h2>Intelligence Artificielle et Reconnaissance Faciale</h2>
                                    <p>L'évolution rapide de l'IA offre de nouvelles possibilités pour identifier et flouter automatiquement les visages en temps réel.
                                        Les algorithmes de reconnaissance faciale peuvent désormais détecter avec précision les visages dans diverses conditions d'éclairage et d'angles de caméra.</p>
                                    <div class="slider-btn">
                                        <a routerLink="/" class="default-btn">obtenir nos Services</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="main-slider-image three"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-slider-shape">
        <div class="shape-1"><img src="assets/img/main-slider/slider-shape-1.png" alt="image"></div>
        <div class="shape-2"><img src="assets/img/main-slider/slider-shape-2.png" alt="image"></div>
        <div class="shape-3"><img src="assets/img/main-slider/slider-shape-3.png" alt="image"></div>
        <div class="shape-4"><img src="assets/img/main-slider/slider-shape-4.png" alt="image"></div>
    </div>
</div>
<!-- End Main Banner -->

<!-- Features -->

<section class="services-area bg-fafafa pt-100 pb-70">
    <div class="container">
        <div class="section-title">
        <!--    <span>Services que nous fournissons</span>-->
            <h2>Les Services que nous fournissons</h2>
            <div class="bar"></div>
        </div>
<section class="features-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-promotion"></i>
                    </div>
                    <h3><a routerLink="/services-details">Algorithmes de détection de passants</a></h3>
                    <p>Le service utilise des algorithmes de détection d'objets avancés pour identifier automatiquement les passants dans une image ou une vidéo.</p>
                    <div class="number">
                        <span>1</span>
                    </div>
                    <div class="shape"><img src="assets/img/features-shape/features-shape-1.png" alt="image"></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <h3><a routerLink="/services-details">Floutage sélectif</a></h3>
                    <p> Les passants détectés, Le service doit permettre un floutage sélectif pour ne flouter que les passants en arrière-plan tout en préservant la clarté des sujets principaux de la scène.</p>
                    <div class="number">
                        <span>2</span>
                    </div>
                    <div class="shape"><img src="assets/img/features-shape/features-shape-1.png" alt="image"></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-email"></i>
                    </div>
                    <h3><a routerLink="/services-details">Préservation de l'anonymat</a></h3>
                    <p>Le floutage garanti que les passants restent anonymes et ne puissent pas être identifiés même par des techniques de reconnaissance faciale avancées.</p>
                    <div class="number">
                        <span>3</span>
                    </div>
                    <div class="shape"><img src="assets/img/features-shape/features-shape-1.png" alt="image"></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-features">
                    <div class="icon">
                        <i class="flaticon-network"></i>
                    </div>
                    <h3><a routerLink="/services-details">Traitement en temps réel</a></h3>
                    <p>Pour être pratique pour les journalistes sur le terrain, le service est capable de flouter les passants en temps réel ou avec un délai minimal de traitement.</p>
                    <div class="number">
                        <span>4</span>
                    </div>
                    <div class="shape"><img src="assets/img/features-shape/features-shape-1.png" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
</section>
<!-- End Features -->

<!-- Services -->

<!-- Pricing -->
<section class="pricing-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>Plans Tarifaires</span>
            <h2>Les meilleures solutions pour nos clients</h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-pricing-box top-1">
                    <div class="pricing-header">
                        <h3>Plan Basique</h3>
                    </div>

                    <div class="price">
                        $9,99/Mois
                    </div>

                    <ul class="pricing-features">
                        <li><i class="flaticon-check-mark"></i>Floutage Automatique d'Images et de Vidéos</li>
                        <li><i class="flaticon-check-mark"></i> Personnalisation de base des Paramètres de Floutage</li>
                        <li><i class="flaticon-check-mark"></i> Accès à notre Plateforme en Ligne</li>
                        <li><i class="flaticon-check-mark"></i> Support Client par E-mail</li>
                    </ul>

                    <div class="pricing-btn">
                        <a routerLink="/" class="default-btn">Commencer</a>
                    </div>

                    <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-pricing-box">
                    <div class="pricing-header">
                        <h3>Plan Standard</h3>
                    </div>

                    <div class="price">
                        $14,99/Mois
                    </div>

                    <ul class="pricing-features">
                        <li><i class="flaticon-check-mark"></i> Tous les avantages du Plan Basique</li>
                        <li><i class="flaticon-check-mark"></i> Floutage en Temps Réel des Vidéos</li>
                        <li><i class="flaticon-check-mark"></i> Analyse Automatique d'Images et de Vidéos</li>
                        <li><i class="flaticon-check-mark"></i> Consultation Téléphonique Mensuelle avec nos Expert</li>
                    
                    </ul>

                    <div class="pricing-btn">
                        <a routerLink="/" class="default-btn">Commencer</a>
                    </div>

                    <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-pricing-box top-2">
                    <div class="pricing-header">
                        <h3>Plan Premium</h3>
                    </div>

                    <div class="price">
                        $19,99/mois
                    </div>

                    <ul class="pricing-features">
                        <li><i class="flaticon-check-mark"></i>Tous les avantages du Plan Standard</li>
                        <li><i class="flaticon-check-mark"></i>Accès Prioritaire au Support Client</li>
                        <li><i class="flaticon-check-mark"></i>Formation en Ligne Mensuelle </li>
                        <li><i class="flaticon-check-mark"></i>Consultation Personnalisée Trimestrielle avec un Expert en Sécurité</li>
                    </ul>

                    <div class="pricing-btn">
                        <a routerLink="/" class="default-btn">Commencer</a>
                    </div>

                    <div class="pricing-shape"><img src="assets/img/pricing-shape.png" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Pricing -->

<!-- Fun Facts -->
<section class="fun-facts-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-checked"></i>
                    </div>
                    <h3><span class="odometer" data-count="950">00</span></h3>
                    <p>Projet terminé</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div>
                    <h3><span class="odometer" data-count="850">00</span></h3>
                    <p>Clients Satisfaits</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <h3><span class="odometer" data-count="550">00</span></h3>
                    <p>Multiservices</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact-box">
                    <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h3><span class="odometer" data-count="750">00</span></h3>
                    <p>Trophés gagnés</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Fun Facts -->

<!-- Industries -->
<section class="industries-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
         <!--   <span>Industries We Work For</span>-->
            <h2>
                Industries pour lesquelles nous travaillons
            </h2>
            <div class="bar"></div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-digital-marketing-2"></i>
                    <h3>Médias et Journalisme</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-bank"></i>
                    <h3>Sécurité et Surveillance</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-graduation-cap"></i>
                    <h3>Éducation et Recherche </h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-stock-market"></i>
                    <h3>Technologie et Innovation </h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-employee"></i>
                    <h3>Loisirs et Divertissement </h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-waiter"></i>
                    <h3>Gouvernement et Organisations Publiques </h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-stethoscope"></i>
                    <h3>Santé et Soins de Santé</h3>
                    <a routerLink="/"></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="single-industries-box">
                    <i class="flaticon-user"></i>
                    <h3>Immobilier et Construction</h3>
                    <a routerLink="/"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Industries -->

<!-- Client -->
<section class="client-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Témoignages</span>
            <h2>Avis des clients</h2>
            <div class="bar"></div>
        </div>

        <div class="client-slider owl-carousel owl-theme">
            <div class="client-item">
                <p>Je suis très impressionnée par la qualité du service de floutage automatique fourni par cette société. En tant que journaliste, la protection de la vie privée de mes sources est primordiale, et leur solution de floutage m'a permis de sécuriser mes reportages sans compromettre la qualité visuelle. Je recommande vivement leurs services !</p>
                <div class="client-info">
                <!--    <img src="assets/img/client/client-1.jpg" alt="image"> -->
                    <h3>Jeanne</h3>
                    <span>Journaliste</span>
                </div>
            </div>

            <div class="client-item">
                <p>Notre entreprise utilise les services de floutage automatique de cette société pour protéger la vie privée des individus capturés par nos caméras de sécurité. Leur technologie avancée de floutage en temps réel nous offre une tranquillité d'esprit en assurant la confidentialité de nos employés et de nos clients. Excellent service </p>
                <div class="client-info">
                  <!--    <img src="assets/img/client/client-2.jpg" alt="image">-->
                    <h3>Pierre</h3>
                    <span>Responsable de la Sécurité</span>
                </div>
            </div>

            <div class="client-item">
                <p>En tant qu'agente immobilière, je dois souvent partager des images de propriétés avec mes clients. Grâce au service de floutage automatique de cette société, je peux garantir la confidentialité des individus présents dans les photos tout en présentant les biens de manière attrayante. Un outil indispensable pour mon activité professionnelle !</p>
                <div class="client-info">
                <!--     <img src="assets/img/client/client-3.jpg" alt="image">-->
                    <h3>Emilie</h3>
                    <span>Agente Immobilière</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Client -->

<!-- Subscribe -->
<section class="subscribe-area ptb-100">
    <div class="container">
        <div class="subscribe-content">
            <span>Commencez instantanément !</span>
            <h3>Recevez uniquement les nouvelles mises à jour de cette newsletter</h3>
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>
<!-- End Subscribe -->

